nav.sider
    ul.inner-menu 
        li 
            a(href=`/${pathAdmin}/dashboard`)
                i.fa-solid.fa-gauge-high
                |  Tong Quan
        li   
            a(href=`/${pathAdmin}/categories/list`)
                i.fa-solid.fa-table-cells-large
                |  Quan Ly Danh Muc
        li  
            a(href=`/${pathAdmin}/tour/list`)
                i.fa-solid.fa-table-list
                |  Quan Ly Tour
        li
            a(href=`/${pathAdmin}/order/list`)
                i.fa-solid.fa-list-check
                |  Quan Ly Don Hang 
        li
            a(href=`/${pathAdmin}/users/list`)
                i.fa-solid.fa-user
                |  Quan Ly Nguoi Dung
        li
            a(href=`/${pathAdmin}/contact/list`)
                i.fa-solid.fa-user-group
                |  Thong Tin Lien He
    hr
    ul.inner-menu 
        li 
            a(href=`/${pathAdmin}/settings/list`)
                i.fa-solid.fa-gear
                |  Cai Dat He Thong
        li 
            a(href=`/${pathAdmin}/profile/edit`)
                i.fa-solid.fa-user-gear
                |  Thong Tin Ca Nhan
        li
            a(href="javascript:;" class="inner-logout")
                i.fa-solid.fa-power-off
                |  Dang Xuat

.sider-overlay
