mixin breadcrumb(detail)
    .breadcrumb
        .inner-image
            img(
            alt=detail.name
            src=detail.avatar
            )
        .inner-content
            .container
                .inner-wrap
                    h1.inner-title #{detail.name}
                        nav.inner-links
                            a(href="#") Trang Chu
                                i.fa-solid.fa-angle-right
                                    a(href=`/category/${detail.slug}`) #{detail.name}