extends ../layouts/default.pug
include ../mixins/checkbox.pug


block main
  h1.box-title Quản lý danh mục

  //- Section 4
  .section-4
    .inner-wrap
      .inner-item.inner-label
        <i class="fa-solid fa-filter"></i> Bộ lọc
      .inner-item
        select(filter-status)
          option(value="") Trạng thái
          option(value="active") Hoạt động
          option(value="inactive") Tạm dừng
      .inner-item
        select(filter-createdBy)
          option(value="") Người tạo
          each item in accountAdminList
            option(value=item._id) #{item.fullname} 
      .inner-item.inner-date
        input(type="date" filter-startDate)
        span -
        input(type="date" filter-endDate)
      .inner-item.inner-reset(filter-reset)
        <i class="fa-solid fa-rotate-left"></i> Xóa bộ lọc
  //- End Section 4

  //- Section 5
  .section-5
    .inner-wrap
      .inner-change-status
        .inner-item
          select
            option(value="") -- Hành động --
            option(value="") Hoạt động
            option(value="") Dừng hoạt động
            option(value="") Xóa
        .inner-item
          button Áp dụng
      .inner-search
        <i class="fa-solid fa-magnifying-glass"></i>
        input(type="text" placeholder="Tìm kiếm")
      .inner-button-create
        a(href=`/${pathAdmin}/categories/create`)  + Tạo mới
  //- End Section 5

  //- Section 6
  .section-6 
    .table-2 
      table 
        thead 
          tr 
            th.text-left
              +checkbox-30("", "")
            th.text-left Tên danh mục
            th.text-center Ảnh đại diện
            th.text-center Vị trí
            th.text-center Trạng thái
            th.text-left Tạo bởi
            th.text-left Cập nhật bởi
            th.text-left Hành động
        tbody 
          each item in categoryLi
            tr 
              td.text-left
                +checkbox-30("", "")
              td.text-left #{item.name}
              td.text-center
                img(src=item.avatar class="inner-avatar")
              td.text-center #{item.position}
              td.text-center
                if item.status=="active"
                  .tag.tag-green Hoạt động
                else if item.status=="inactive"
                  .tag.tag-red Tạm dừng
                
              
              td.text-left
                if(item.createdByWho)
                  div #{item.createdByWho}
                  div.inner-small #{item.createdAtFormat}
                
              td.text-leff
                if(item.updatedByWho)
                  div #{item.updatedByWho}
                  div.inner-small #{item.updatedAtFormat}
                
              td.text-left
                .box-actions 
                  a(href=`/${pathAdmin}/categories/edit/${item._id}` class="inner-edit")
                    <i class="fa-solid fa-pen-to-square"></i>
                  button(class="inner-remove" button-delete data-api=`/${pathAdmin}/categories/delete/${item._id}`)
                    <i class="fa-solid fa-trash-can"></i>
  //- End Section 6

  //- Section 7
  .section-7
    span(class="inner-label") Hiển thị 1 - 9 của 78
    select(class="inner-pagination")
      option Trang 1
      option Trang 2
      option Trang 3
  //- End Section 7