extends ../layouts/default.pug
include ../mixins/checkbox.pug


block main
  h1.box-title Thùng rác tour

  //- Section 5
  .section-5
    .inner-wrap
      .inner-change-status
        .inner-item
          select
            option(value="") -- Hành động --
            option(value="") Hoạt động
            option(value="") Dừng hoạt động
            option(value="") Xóa
        .inner-item
          button Áp dụng
      .inner-search
        i.fa-solid.fa-magnifying-glass
        input(type="text" placeholder="Tìm kiếm")
  //- End Section 5

  //- Section 6
  .section-6
    .table-2
      table
        thead
          tr
            th.text-left
              +checkbox-30("", "")
            th.text-left Tên tour
            th.text-center Ảnh đại diện
            th.text-left Giá
            th.text-left Còn lại
            th.text-center Vị trí
            th.text-center Trạng thái
            th.text-left Tạo bởi
            th.text-left Xóa bởi
            th.text-left Hành động
        tbody
          each i in tourList
            tr
              // checkbox
              td.text-left
                +checkbox-30("", "")
              // name
              td.text-left #{i.name}
              // avatar
              td.text-center
                if i.avatar
                  img(src=i.avatar class="inner-avatar")
                else
                  | -
              // price
              td.text-left
                if i.priceAdult != null
                  div NL: #{i.priceAdult.toLocaleString("vi-VN")}đ
                else
                  div NL: -
                if i.priceChildren != null
                  div TE: #{i.priceChildren.toLocaleString("vi-VN")}đ
                else
                  div TE: -
                if i.priceBaby != null
                  div EB: #{i.priceBaby.toLocaleString("vi-VN")}đ
                else
                  div EB: -
              // stock
              td.text-left
                div NL: #{i.stockAdult || 0}
                div TE: #{i.stockChildren || 0}
                div EB: #{i.stockBaby || 0}
              // position
              td.text-center #{i.position}
              // status
              td.text-center
                if i.status == "active"
                  .tag.tag-green Hoạt động
                else if i.status == "inactive"
                  .tag.tag-red Tạm dừng
                else
                  | -
              // created by
              td.text-left
                if i.createdByWho
                  div #{i.createdByWho}
                  if i.createdAtFormat
                    div.inner-small #{i.createdAtFormat}
                else
                  | -
              // deleted by
              td.text-left
                if i.deletedByWho
                  div #{i.deletedByWho}
                  if i.deletedAtFormat
                    div.inner-small #{i.deletedAtFormat}
                else
                  | -
              // actions
              td.text-left
                .box-actions
                  button(button-undo data-api=`/${pathAdmin}/tours/undo/${i._id}` class="inner-undo")
                    i.fa-solid.fa-rotate-left
                  button(button-destroy data-api=`/${pathAdmin}/tours/destroy/${i._id}` class="inner-remove")
                    i.fa-solid.fa-trash-can
  //- End Section 6

  //- Section 7
  .section-7
    span(class="inner-label") Hiển thị 1 - 9 của 78
    select(class="inner-pagination")
      option Trang 1
      option Trang 2
      option Trang 3
  //- End Section 7