// Box contact
nav.box-contact
  ul
    li
      a(
        target="_blank" 
        href="#"
        )
        i.fab.fa-facebook-f
    li
      a(
        target="_blank" 
        href="#"
        )
        i.fab.fa-twitter
    li
      a(
        target="_blank" 
        href="#"
        )
        i.fab.fa-instagram
    li
      a(
        target="_blank" 
        href="#"
        )
        i.fab.fa-youtube