.footer
  .container
    .inner-top
      .inner-title Đăng ký ngay để không bỏ lỡ các chương trình của chúng tôi
      form#email-form.inner-form(action="")
        input#email-input(
          placeholder="Nhập email của bạn" 
          type="text" 
          name="email"
          )
        button.inner-button Đăng ký Ngay
    .inner-middle
      nav.list-links
        ul
          li
            a(href="#") Trang Chủ
          li
            a(href="#") Tour Trong Nuoc
          li
            a(href="#") Tour Nuoc Ngoai
          li
            a(href="#") Tin Tuc
          li
            a(href="#") Lien He
      nav.list-social
        ul
          li
            a(
              target="_blank" 
              href="#"
              )
              i.fab.fa-facebook-f
          li
            a(
              target="_blank" 
              href="#"
              )
              i.fab.fa-twitter
          li
            a(
              target="_blank" 
              href="#"
              )
              i.fab.fa-instagram
          li
            a(
              target="_blank" 
              href="#"
              )
              i.fab.fa-youtube
    .inner-bottom
      .inner-copyright
        p © 2024 28 Travel. All rights reserved.
      .inner-image
        a(href="#")
          img(
            alt="" 
            src="images/Logo (1).png"
            )
      nav.inner-bottom-link
        ul
          li
            a(href="#") Dieu Khoan Dich Vu
          li
            a(href="#") Chinh sach bao mat