.header
  .container
    .inner-menu
      button.inner-button-menu
        img(
          alt="" 
          src="/client/asset/images/Menu.png"
          )
      a.inner-logo(href="#")
        img(
          alt="28.TRAVEL" 
          src="/client/asset/images/Logo.png"
          )
      nav.inner-navigation
        ul
          li
            a.active(href="#") Trang Chu
          li
            a(href="#") Tour Trong Nuoc
            i.fa-solid.fa-sort-down
            ul.inner-sub
              li
                a.active(href="#") Tour Mien Bac
              li
                a(href="#") Tour Mien Trung
              li
                a(href="#") Tour Mien Nam
              li
                a(href="#") Tour Xuyen Viet
          li
            a(href="#") Tour Nuoc Ngoai
            i.fa-solid.fa-sort-down
            ul.inner-sub
              li
                a.active(href="#") Tour Chau A
              li
                a(href="#") Tour Chau My
              li
                a(href="#") Tour Chau Au
              li
                a(href="#") Tour Chau Uc
          li
            a(href="#") Tin Tuc
          li
            a(href="#") Lien he
        .inner-overlay
      a.inner-cart(href="#")
        img(
          alt="Cart" 
          src="/client/asset/images/Icon-cart.png"
          )
        span
          img(
            alt="" 
            src="/client/asset/images/Vector 7.png"
            )
          