.header
  .container
    .inner-menu
      button.inner-button-menu
        img(
          alt="" 
          src="/client/asset/images/Menu.png"
          )
      a.inner-logo(href="/")
        img(
          alt=settingWebsiteInfo.websiteName
          src=settingWebsiteInfo.logo
          )
      nav.inner-navigation
        ul
          li
            a.active(href="#") Trang Chu
          each item in categories
            li
              a(href=`/category/${item.slug}`) #{item.name}
              if(item.children.length > 0)
                i.fa-solid.fa-sort-down
                ul.inner-sub
                  each child in item.children
                    li
                      a(href=`/category/${child.slug}`) #{child.name}   
          li
            a(href="#") Tin Tuc
          li
            a(href="#") Lien he
        .inner-overlay
      a.inner-cart(href="#")
        img(
          alt="Cart" 
          src="/client/asset/images/Icon-cart.png"
          )
        span
          img(
            alt="" 
            src="/client/asset/images/Vector 7.png"
            )
//end 